.login-route-bg-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.login-route-input-container {
  background-color: #202020;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
}

.login-route-input-logo {
  width: 96px;
  margin-bottom: 19px;
}

.login-route-input-container > form {
  text-align: left;
}

.login-label-text {
  color: #f1f5f9;
  font-size: 11px;
}

.login-input-field {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border: solid 0.1px #b6c5ff;
  background-color: transparent;
  border-radius: 3px;
  margin-top: 7px;
  margin-bottom: 15px;
  color: white;
  outline: none;
}

.login-button {
  width: 100%;
  font-size: 13px;
  background-color: #4f46e5;
  border-radius: 5px;
  padding: 10px;
  border: 0px;
  color: white;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 600;
}

.login-error-message {
  color: #ff0b37;
  font-size: 11px;
  text-align: left;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .login-route-input-container {
    width: 330px;
    padding: 30px;
    border-radius: 12px;
    padding-bottom: 40px;
  }

  .login-route-input-logo {
    width: 100px;
    margin-bottom: 30px;
  }

  .login-label-text {
    font-size: 14px;
  }

  .login-input-field {
    padding: 7px;
    font-size: 13px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #b6c5ff;
  }

  .login-button {
    padding: 9px;
    font-size: 15px;
  }

  .login-error-message {
    font-size: 13px;
  }
}

.login-test-credential {
  color: hsl(210, 40%, 96%);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}
